<%= form_for current_user, url: dashboard_update_path do |f| %>
  <% current_user.errors.full_messages.each do |error| %>
    <p class="text-danger" >
      <span class="sr-only">Error:</span>
      <%= error %>
    </p>
  <% end %>
  <div class="form-group">
     <%= f.label :first_name %>
     <%= f.text_field :first_name, class: "form-control", placeholder: "First name" %>
  </div>

  <div class="form-group">
     <%= f.label :last_name %>
     <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
  </div>

  <div class="form-group">
     <%= f.label :email %>
     <%= f.email_field :email, class: "form-control", placeholder: "E-mail" %>
  </div>

  <div class="form-group">
     <%= f.label :phone %>
     <%= f.telephone_field :phone, class: "form-control", placeholder: "Phone", "aria-describedby" => "phone-help" %>
     <small id="phone-help" class="form-text text-muted">Phone must be in format (123) 456 7878.</small>
  </div>

  <% if current_user.avatar.attached? %>
    <!-- <img src="..." alt="..." class="img-thumbnail"> -->
    <%= image_tag url_for(current_user.avatar) %>
  <% end %>

  <div class="form-group">
    <div class="custom-file">
      <%= f.file_field :avatar, class: "custom-file-input", "aria-describedby" => "image-help" %>
      <%= f.label :avatar, class: "custom-file-label" %>
    </div>
    <small id="image-help" class="form-text text-muted">Image minimun size: 700px by 700px</small>
  </div>

  <div class="form-group">
    <%= f.label :name_for_show %>
    <%= f.text_field :name_for_show, id: "name_for_show", class: "form-control", placeholder: "Name on show" %>
  </div>

  <div class="form-group">
    <%= f.label :title_for_show %>
    <%= f.text_field :title_for_show, id: "title_for_show", class: "form-control", placeholder: "Title for show" %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, id: "user_bio", class: "form-control", placeholder: "Your bio" %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary", role: "button" %>
<% end %>
