<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="admin-info-tab" data-toggle="tab" href="#admin-info" role="tab" aria-controls="admin-info" aria-selected="true">Admin info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="bookings-tab" data-toggle="tab" href="#booking" role="tab" aria-controls="profile" aria-selected="true">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="company-tab" data-toggle="tab" href="#company_info" role="tab" aria-controls="company_info" aria-selected="false">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="release-tab" data-toggle="tab" href="#release" role="tab" aria-controls="release" aria-selected="false">Release</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="change-password-tab" data-toggle="tab" href="#change-password" role="tab" aria-controls="change_password" aria-selected="false">Change password</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <% if session[:user_errors] %>
            <div class="errors_container">
              <% session[:user_errors].each do |errors, val| %>
                <% val.each do |error| %>
                  <p class="text-danger" >
                    <span class="sr-only">Error:</span>
                    <%= error %>
                  </p>
                <% end %>
              <% end %>
              <% session[:user_errors] = nil %>
            </div>
          <% end %>

          <div class="tab-pane fade show active" id="admin-info" role="tabpanel" aria-labelledby="admin-info-tab">
            <h2>Admin tabs</h2>
            <p>Is admin?: <%= is_admin? %></p>
            <%= render 'dashboard/adminpartials/admin_info' %>
          </div><!--admin-info-tab-->
          <div class="tab-pane fade" id="booking" role="tabpanel" aria-labelledby="bookings-tab">
            <h2>Admin tabs</h2>
            <p>Is admin?: <%= is_admin? %></p>
            <%= render 'dashboard/adminpartials/all_bookings' %>
          </div><!--bookings-tab-->
          <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users">
            <h2>List of users</h2>
            <%= render 'dashboard/adminpartials/userstab' %>
          </div><!--users-tab-->
          <div class="tab-pane fade" id="company_info" role="tabpanel" aria-labelledby="company-tab">
            <h2>Company info</h2>
            <%= render 'dashboard/adminpartials/companyform' %>
          </div><!--copmany-tab-->
          <div class="tab-pane fade" id="release" role="tabpanel" aria-labelledby="release-tab">
            <h2>Client release</h2>
            <%= render 'dashboard/adminpartials/companyrelease' %>
          </div><!--release-tab-->
          <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
            <h2>Change your password</h2>
            <%= render 'dashboard/customerpartials/changepasswordform' %>
          </div><!--booking-history-tab-->
        </div>
      </div>
    </div>
  </div>
</section>
