<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-3 dashboard_navigation" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="personal-social-media-tab" data-toggle="tab" href="#user-social-media" role="tab" aria-controls="user-social-media" aria-selected="false">Personal social media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="company-info-tab" data-toggle="tab" href="#company_info" role="tab" aria-controls="company_info" aria-selected="false">Company info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="release-tab" data-toggle="tab" href="#release" role="tab" aria-controls="release" aria-selected="false">Release</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="booking-history-tab" data-toggle="tab" href="#booking-history" role="tab" aria-controls="booking-history" aria-selected="false">Booking history</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="change-password-tab" data-toggle="tab" href="#change-password" role="tab" aria-controls="change_password" aria-selected="false">Change password</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <%= render 'dashboard/show_errors' %>

          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <%= form_with model: current_user, url: dashboard_update_path, html: { class: "customer-form", id: "user-profile-form" } do |f| %>
              <%= render 'dashboard/customerpartials/profileform', f: f %>
              <%= f.submit "Save", class: "btn btn-primary", role: "button", data: { "disable-with": "Updating..." } %>
            <% end %>
          </div><!--profile-tab-->
          <div class="tab-pane fade" id="user-social-media" role="tabpanel" aria-labelledby="personal-social-media-tab">
            <%= form_with model: current_user, url: dashboard_update_path, id: 'user_socialmedia' do |f| %>
              <%= render 'dashboard/customerpartials/personalsocialmediaform', f: f %>
              <%= f.submit "Save", class: "btn btn-primary", role: "button" %>
            <% end %>
          </div><!--personal-social-media-tab-->
          <div class="tab-pane fade" id="company_info" role="tabpanel" aria-labelledby="company-info-tab">
            <%= form_with model: current_user, url: dashboard_update_path do |f| %>
              <%= render 'dashboard/customerpartials/companyinfoform', f: f %>
              <%= f.submit "Save", class: "btn btn-primary", role: "button" %>
            <% end %>
          </div><!--copmany-social-media-tab-->
          <div class="tab-pane fade" id="release" role="tabpanel" aria-labelledby="release-tab">
            <%= render 'dashboard/customerpartials/user_release_form' %>
          </div><!--release-tab-->
          <div class="tab-pane fade" id="booking-history" role="tabpanel" aria-labelledby="booking-history-tab">
            <%= render 'dashboard/customerpartials/user_bookings' %>
          </div><!--booking-history-tab-->
          <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
            <%= render 'dashboard/customerpartials/changepasswordform' %>
          </div><!--booking-history-tab-->
        </div>
      </div>
    </div>
  </div>
</section>
