<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">

        <div class="card">
            <div class="card-header">
                Recording with Digital Files
            </div>
            <div class="card-body" id="bookings-list-grid">
                <% @past_with_media.each do |booking| %>
                <%= link_to booking_path(booking), class: "card link_to_booking #{booking.show_name}-link" do %>
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                        <p class="bookings-main"><%= booking.user.full_name %></p>
                        <p class="text-muted booking-sub"><%= booking.user.email %></p>
                        <p class="bookings-main"><%= booking.recording_date.strftime('%b %d, %Y') %></p>
                        <p class="text-muted booking-sub"><%= booking.recording_date.strftime('%I:%M %p') %></p>
                        <p class="bookings-main"><span class="badge badge-dark"><%= booking.show_name %> Show</span></p>
                        <p class="badge badge-secondary"><%= booking.booking_type %></p>
                        </div>
                    </div>
                    </div>
                <% end %>
                <% end %>
            </div>
        </div><!-- card-->

      </div>
    </div>
  </div>
</section>
