
<%= form_with model: current_user, url: dashboard_update_path, id: "change_pass_form" do |f| %>
  <div class="form-group">
     <%= f.label :password %>
     <%= f.password_field :password, class: "form-control", placeholder: "Your password", "aria-describedby" => "password-help" %>
     <small id="password-help" class="form-text text-muted">Password must be at least 6 characters.</small>
     <small id="password" class="alert-text m-1 text-danger">Image error</small>

  </div>

  <div class="form-group">
     <%= f.label :password_confirmation %>
     <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
     <small id="password_confirmation" class="alert-text m-1 text-danger">Image error</small>
  </div>

  <%= f.submit "Change password", class: "btn btn-primary", role: "button" %>
<% end %>
