<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "Your legal First name" %>
      <small id="first_name" class="alert-text m-1 text-danger">First name error</small>

    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Your legal last name" %>
      <small id="last_name" class="alert-text m-1 text-danger">Last name error</small>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "Your email (just between us, no spam)" %>
      <small id="email" class="alert-text m-1 text-danger">Email error</small>
      <small id="" class="form-text text-muted mb-3">your email (just between us, no spam)</small>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.telephone_field :phone, class: "form-control", placeholder: "Your phone # (just beetween us, no spam)", "aria-describedby" => "phone-help" %>
      <!-- <small id="phone-help" class="form-text text-muted">Phone must be in format (123) 456 7878.</small> -->
      <small id="phone" class="alert-text m-1 text-danger">Phone error</small>
    </div>

    <div class="form-group">
      <%= f.label :country %>
      <%= f.select :country, ['USA', 'Canada', 'United Kingdom', 'Australia', 'New Zealand'], { selected: 'Canada' }, class: "form-control" %>
      <small id="country" class="alert-text m-1 text-danger">Country error</small>
      <!-- <small id="" class="form-text text-muted mb-3">Legal last name as it appears on your id</small> -->
    </div>

    <div class="form-group">
      <%= f.label :state %>
      <%= f.text_field :state, class: "form-control", list: 'states', autocomplete: 'off', placeholder: "Province/State Region" %>
      <datalist id="states">
        <option>Ontario</option>
        <option>Alberta</option>
        <option>Quebec</option>
        <option>Nova Scotia</option>
        <option>British Columbia</option>
      </datalist>
      <small id="state" class="alert-text m-1 text-danger">state error</small>
      <!-- <small id="" class="form-text text-muted mb-3">Legal last name as it appears on your id</small> -->
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control", placeholder: "City" %>
      <small id="city" class="alert-text m-1 text-danger">city error</small>
      <!-- <small id="" class="form-text text-muted mb-3">Legal last name as it appears on your id</small> -->
    </div>


    <div class="card mb-3 avatar-card" style="max-width: 100%;">
      <div class="row no-gutters">
        <% if current_user.avatar.attached? %>
        <div class="col-md-4 pl-3 align-self-center">
          <%= image_tag current_user.avatar, class: "card-img" %>
        </div>
        <% end %>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Profile image</h5>
            <p id="image-help" class="card-text">
              Upload a picture of yourself that will be used to promote the show on the internet
            </p>
            <!-- <p class="card-text"><small class="text-muted">(at least 700px wide by 700px hight)</small></p> -->
            <div class="custom-file">
              <%= f.file_field :avatar, class: "custom-file-input" %>
              <%= f.label :add_image, class: "custom-file-label" %>
            </div>
            <small id="avatar" class="alert-text m-1 text-danger">Image error</small>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end col--->

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name_for_show %>
      <%= f.text_field :name_for_show, id: "name_for_show", class: "form-control", placeholder: "Your name as you want it to appear on the internet" %>
    </div>

    <div class="form-group">
      <%= f.label :title_for_show %>
      <%= f.text_field :title_for_show, id: "title_for_show", class: "form-control", placeholder: "Your title, what you call yourself" %>
    </div>

    <div class="form-group">
      <%= f.label :bio %>
      <%= f.text_area :bio, id: "user_bio", class: "form-control", placeholder: "Your bio, how you want yourself described in text on the internet. We may shorten or make minor edits" %>
    </div>
  </div><!-- end col--->
</div><!-- end row-->
