<%= form_for company, url: company_update_path do |f| %>

  <div class="form-group">
     <%= f.label :name %>
     <%= f.text_field :name, class: "form-control", placeholder: "Company name" %>
  </div>

  <div class="form-group">
     <%= f.label :address1 %>
     <%= f.text_field :address1, class: "form-control", placeholder: "Address 1" %>
  </div>

  <div class="form-group">
     <%= f.label :address2 %>
     <%= f.text_field :address2, class: "form-control", placeholder: "Address 2" %>
  </div>

  <div class="form-group">
     <%= f.label :city %>
     <%= f.text_field :city, class: "form-control", placeholder: "City" %>
  </div>

  <div class="form-group">
     <%= f.label :province %>
     <%= f.text_field :province, class: "form-control", placeholder: "Province" %>
  </div>

  <div class="form-group">
     <%= f.label :postal_code %>
     <%= f.text_field :postal_code, class: "form-control", placeholder: "Postal code" %>
  </div>

  <div class="form-group">
     <%= f.label :email %>
     <%= f.email_field :email, class: "form-control", placeholder: "E-mail" %>
  </div>

  <div class="form-group">
     <%= f.label :phone %>
     <%= f.telephone_field :phone, class: "form-control", placeholder: "phone" %>
  </div>

  <div class="form-group">
     <%= f.label :fax %>
     <%= f.telephone_field :fax, class: "form-control", placeholder: "fax" %>
  </div>

  <div class="form-group">
    <%= f.label :release %>
    <%= f.text_area :release, class: "form-control", placeholder: "Type your release here" %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary", role: "button" %>
<% end %>
