<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :company_name %>
      <%= f.text_field :company_name, class: "form-control", placeholder: "The operating name of the company" %>
      <small id="company_name" class="alert-text m-1 text-danger">Copmany name error</small>
      <!-- <small id="" class="form-text text-muted mb-3">Legal first name as it appears on your id</small> -->
    </div>

    <div class="form-group">
      <%= f.label :company_legal_name %>
      <%= f.text_field :company_legal_name, class: "form-control", placeholder: "The legal name of the company" %>
      <small id="company_legal_name" class="alert-text m-1 text-danger">Last name error</small>
      <small id="" class="form-text text-muted mb-3">The name of your company as registered with the goverment</small>
    </div>

    <div class="form-group">
       <%= f.label :company_phone %>
       <%= f.telephone_field :company_phone, class: "form-control", placeholder: "Company phone number" %>
       <!-- <small id="phone-help" class="form-text text-muted">Phone must be in format (123) 456 7878.</small> -->
    </div>

    <div class="form-group">
      <%= f.label :company_country %>
      <%= f.select :company_country, countries, { include_blank: "Country" }, class: "form-control" %>
      <small id="company_country" class="alert-text m-1 text-danger">Country error</small>
      <!-- <small id="" class="form-text text-muted mb-3">Legal last name as it appears on your id</small> -->
    </div>

  </div><!-- end col--->

  <div class="col-md-6">

    <div class="form-group">
      <%= f.label :company_address1 %>
      <%= f.text_field :company_address1, class: "form-control", autocomplete: 'someRandomString', placeholder: "Address Line 1" %>
      <small id="company_address1" class="alert-text m-1 text-danger">Last name error</small>
      <!-- <small id="" class="form-text text-muted mb-3">The name of your company as registered with the goverment</small> -->
    </div>

    <div class="form-group">
      <%= f.label :company_address2 %>
      <%= f.text_field :company_address2, class: "form-control", autocomplete: 'someRandomString', placeholder: "Address Line 2" %>
      <small id="company_address2" class="alert-text m-1 text-danger">Last name error</small>
      <!-- <small id="" class="form-text text-muted mb-3">The name of your company as registered with the goverment</small> -->
    </div>

    <div class="form-group">
      <%= f.label :company_city %>
      <%= f.text_field :company_city, class: "form-control", autocomplete: 'someRandomString', placeholder: "City" %>
      <small id="company_city" class="alert-text m-1 text-danger">Last name error</small>
      <!-- <small id="" class="form-text text-muted mb-3">The name of your company as registered with the goverment</small> -->
    </div>

    <div class="form-group">
      <%= f.label :company_province %>
      <%= f.text_field :company_province, list: 'company-states-list', class: "form-control", autocomplete: 'someRandomString', placeholder: "State/Province Region" %>
      <datalist id="company-states-list">
        <!-- <option>Choose a country</option> -->
      </datalist>
      <small id="company_province" class="alert-text m-1 text-danger">Company province error</small>
      <!-- <small id="" class="form-text text-muted mb-3">The name of your company as registered with the goverment</small> -->
    </div>

    <div class="form-group">
      <%= f.label :company_postalcode %>
      <%= f.text_field :company_postalcode, class: "form-control", autocomplete: 'someRandomString', placeholder: "Zip/Postal/Post Code" %>
      <small id="company_postalcode" class="alert-text m-1 text-danger">Last name error</small>
      <!-- <small id="" class="form-text text-muted mb-3">The name of your company as registered with the goverment</small> -->
    </div>

  </div><!-- end col--->
</div><!-- end row-->
