<div class="row">
  <%= f.fields_for :company_social_media do | c_media| %>
  <div class="col-md-6">
    <div class="form-group">
      <%= c_media.label :companywebsite %>
      <%= c_media.url_field :website, id: :company_website, class: "form-control", placeholder: "Company website", value: current_user.company_social_media["website"] %>
    </div>

    <div class="form-group">
      <%= c_media.label :companyfacebook %>
      <%= c_media.url_field :facebook, id: :company_facebook, class: "form-control", placeholder: "Company facebook", value: current_user.company_social_media["facebook"] %>
    </div>

    <div class="form-group">
      <%= c_media.label :companylinkedin %>
      <%= c_media.url_field :linkedin, id: :company_linkedin, class: "form-control", placeholder: "Company linkedIn", value: current_user.company_social_media["linkedin"] %>
    </div>
  </div>

  <div class="col-md-6">

    <div class="form-group">
      <%= c_media.label :company_youtube %>
      <%= c_media.url_field :youtube, id: :company_other, class: "form-control", placeholder: "Company youtube", value: current_user.company_social_media["youtube"] %>
    </div>

    <div class="form-group">
      <%= c_media.label :companytwitter %>

      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">@</span>
        </div>
        <%= c_media.text_field :twitter, id: :company_twitter, class: "form-control", placeholder: "Company twitter handle", value: current_user.company_social_media["twitter"] %>
      </div>

    </div>

    <div class="form-group">
      <%= c_media.label :companyinstagram %>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">@</span>
        </div>
        <%= c_media.text_field :instagram, id: :company_instagram, class: "form-control", placeholder: "Company instagram handle", value: current_user.company_social_media["instagram"] %>
      </div>
    </div>
  </div>
  <% end %>
</div>
