<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name_for_show %>
      <%= f.text_field :name_for_show, id: "name_for_show", class: "form-control", placeholder: "Your name as you want it to appear on the internet" %>
    </div>
  </div><!-- end col--->

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :title_for_show %>
      <%= f.text_field :title_for_show, id: "title_for_show", class: "form-control", placeholder: "Your title, what you call yourself" %>
    </div>
  </div><!-- end col--->

  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :bio %>
      <%= f.text_area :bio, id: "user_bio", class: "form-control", placeholder: "Your bio, how you want yourself described in text on the internet. We may shorten or make minor edits" %>
    </div>
  </div><!-- end col--->
</div><!-- end row-->
