<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "Your legal first name" %>
      <small id="first_name" class="alert-text m-1 text-danger">First name error</small>
      <small id="" class="form-text text-muted mb-3">Legal first name as it appears on your id</small>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Your legal last name" %>
      <small id="last_name" class="alert-text m-1 text-danger">Last name error</small>
      <small id="" class="form-text text-muted mb-3">Legal last name as it appears on your id</small>
    </div>

  </div><!-- end col--->

  <div class="col-md-6">

    <div class="form-group">
      <div class="input-group date" id="user_dob_picker" data-target-input="nearest">
        <%= f.text_field :dob, class: "form-control datetimepicker-input", data: {target: "#user_dob_picker"}, placeholder: "Date of birth" %>
        <!-- <input type="text" class="form-control datetimepicker-input" data-target="#user_dob_picker"/> -->
        <div class="input-group-append" data-target="#user_dob_picker" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
      <small id="dob" class="alert-text m-1 text-danger">DOB error</small>
      <small id="" class="form-text text-muted mb-3">Your date of birth DD/MM/YYYY</small>
    </div>

  </div><!-- end col--->
</div><!-- end row-->
