<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-3">
            <div class="list-group" id="booking-list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-type-list" data-toggle="list" href="#list-type" role="tab" aria-controls="type"><span class="booking-form-index"></span> Type</a>
              <a class="list-group-item list-group-item-action" id="list-show-list" data-toggle="list" href="#list-show" role="tab" aria-controls="show"><span class="booking-form-index"></span> Show</a>
              <a class="list-group-item list-group-item-action" id="list-audio-hardware-list" data-toggle="list" href="#list-audio-hardware" role="tab" aria-controls="audio-hardware"><span class="booking-form-index"></span> Audio requirements</a>
              <a class="list-group-item list-group-item-action" id="list-video-hardware-list" data-toggle="list" href="#list-video-hardware" role="tab" aria-controls="video-hardware"><span class="booking-form-index"></span> Video requirements</a>
              <a class="list-group-item list-group-item-action" id="list-computer-list" data-toggle="list" href="#list-computer" role="tab" aria-controls="computer"><span class="booking-form-index"></span> Type of computer</a>
              <a class="list-group-item list-group-item-action" id="list-browser-list" data-toggle="list" href="#list-browser" role="tab" aria-controls="browser"><span class="booking-form-index"></span> Type of browser</a>
              <a class="list-group-item list-group-item-action" id="list-internet-list" data-toggle="list" href="#list-internet" role="tab" aria-controls="internet"><span class="booking-form-index"></span> Internet connectivity & compatibility</a>
              <a class="list-group-item list-group-item-action" id="list-test-list" data-toggle="list" href="#list-test" role="tab" aria-controls="test"><span class="booking-form-index"></span> Test date</a>
              <a class="list-group-item list-group-item-action" id="list-recording-list" data-toggle="list" href="#list-recording" role="tab" aria-controls="recording"><span class="booking-form-index"></span> Recording date</a>
              <a class="list-group-item list-group-item-action" id="list-personal-list" data-toggle="list" href="#list-personal" role="tab" aria-controls="personal"><span class="booking-form-index"></span> Personal information</a>
              <a class="list-group-item list-group-item-action" id="list-company-list" data-toggle="list" href="#list-company" role="tab" aria-controls="company"><span class="booking-form-index"></span> Company information</a>
            </div>
          </div>
          <div class="col-md-9">
            <%= form_with model: @booking, local: true, url: create_booking_path,  html: { id: "booking-form" } do |booking| %>
              <div class="tab-content" id="booking-tab-content">

                <!-- list-type -->
                <div class="tab-pane fade show active" id="list-type" role="tabpanel" aria-labelledby="list-profile-list">
                  <%= render 'bookings/partials/type_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-type -->

                <!-- list-show -->
                <div class="tab-pane fade" id="list-show" role="tabpanel" aria-labelledby="list-show-list">
                  <%= render 'bookings/partials/show_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-show -->

                <!-- list-audio-hardware -->
                <div class="tab-pane fade" id="list-audio-hardware" role="tabpanel" aria-labelledby="list-messages-list">
                  <%= render 'bookings/partials/audio_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-audio-hardware -->

                <!-- list-video-hardware -->
                <div class="tab-pane fade" id="list-video-hardware" role="tabpanel" aria-labelledby="list-messages-list">
                  <%= render 'bookings/partials/video_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-video-hardware -->

                <!-- list-computer -->
                <div class="tab-pane fade" id="list-computer" role="tabpanel" aria-labelledby="list-settings-list">
                  <%= render 'bookings/partials/computer_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-computer -->

                <!-- list-browser -->
                <div class="tab-pane fade" id="list-browser" role="tabpanel" aria-labelledby="list-settings-list">
                  <%= render 'bookings/partials/browser_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-browser -->

                <!-- list-internet -->
                <div class="tab-pane fade" id="list-internet" role="tabpanel" aria-labelledby="list-settings-list">
                  <%= render 'bookings/partials/internet_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-internet -->

                <!-- list-test -->
                <div class="tab-pane fade" id="list-test" role="tabpanel" aria-labelledby="list-settings-list">
                  <%= render 'bookings/partials/test_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-test -->

                <!-- list-recording -->
                <div class="tab-pane fade" id="list-recording" role="tabpanel" aria-labelledby="list-settings-list">
                  Pick a recording date
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true, booking: booking %>
                </div>
                <!-- list-recording -->

                <!-- list-personal -->
                <div class="tab-pane fade" id="list-personal" role="tabpanel" aria-labelledby="list-settings-list">
                  <%= render 'bookings/partials/personal_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next' %>
                </div>
                <!-- list-personal -->

                <!-- list-company -->
                <div class="tab-pane fade" id="list-company" role="tabpanel" aria-labelledby="list-settings-list">
                  <%#= link_to "next", "#", class: "btn btn-primary bookings-next" %>
                  <%= render 'bookings/partials/company_content', booking: booking  %>
                  <%= button_tag 'Create booking', type: 'submit', class: 'btn btn-primary' %>
                </div>
                <!-- list-company -->
              </div>
            <% end %><!-- end of form -->

          </div> <!-- col-->
        </div>

      </div><!--col--->
    </div><!--row-->
  </div><!--container-->
</section>
