<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <% if @booking.errors.any? %>
          <ul>
            <% @booking.errors.full_messages.each do |m| %>
              <div class="alert alert-danger" role="alert">
                <ul>
                  <%= m %>
                </ul>
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-3">
            <div class="list-group" id="booking-list-tab" role="tablist">
              <%= render 'bookings/partials/booking_menu'  %>
            </div>
          </div>
          <div class="col-md-9">
            <div id="booking_form">
              <%#= render 'bookings/partials/booking_inStudio_form', booking_form: @booking  %>
              <%= form_with model: @booking, local: true, url: create_booking_path,  html: { id: "booking-form" } do |booking| %>
              <div class="tab-content" id="booking-tab-content">

                <!-- list-type -->
                <div class="tab-pane fade show active" id="list-type" role="tabpanel" aria-labelledby="list-profile-list">
                  <%= render 'bookings/partials/type_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-type -->

                <!-- list-show -->
                <div class="tab-pane fade" id="list-show" role="tabpanel" aria-labelledby="list-show-list">
                  <%= render 'bookings/partials/show_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-show -->

                <!-- list-audio-hardware -->
                <div class="tab-pane fade" id="list-audio-hardware" role="tabpanel" aria-labelledby="list-messages-list">
                  <%= render 'bookings/partials/audio_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-audio-hardware -->

                <!-- list-video-hardware -->
                <div class="tab-pane fade" id="list-video-hardware" role="tabpanel" aria-labelledby="list-messages-list">
                  <%= render 'bookings/partials/video_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-video-hardware -->

                <!-- list-computer -->
                <div class="tab-pane fade" id="list-computer" role="tabpanel" aria-labelledby="list-settings-list">
                  <%= render 'bookings/partials/computer_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-computer -->

                <!-- list-browser -->
                <div class="tab-pane fade" id="list-browser" role="tabpanel" aria-labelledby="list-settings-list">
                  <%= render 'bookings/partials/browser_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-browser -->

                <!-- list-internet -->
                <div class="tab-pane fade" id="list-internet" role="tabpanel" aria-labelledby="list-settings-list">
                  <%= render 'bookings/partials/internet_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-internet -->

                <!-- list-test -->
                <div class="tab-pane fade" id="list-test" role="tabpanel" aria-labelledby="list-settings-list", data-permit="true">

                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="custom-subtitle-2 p-0">Keep in mind that your test must be scheduled before the recording date.</h3>
                      <h2 class="d-none">Test date: <span id="test_date_placeholder"></span></h2>

                      <div id="test_date_container">
                        <%#= render 'bookings/partials/test_content'  %>
                      </div>

                      <%= booking.hidden_field :test_date, id: "recording_test_date" %>

                      <script>
                        setUpDatesDivs("recording_test_date", "SOIDIV_GetAGripOnLife", "test_date_placeholder" );
                      </script>

                    </div><!-- col -->
                  </div>

                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next', disabled: true %>
                </div>
                <!-- list-test -->

                <!-- list-recording -->
                <div class="tab-pane fade" id="list-recording" role="tabpanel" aria-labelledby="list-settings-list" data-permit="true">
                  <div class="row">
                    <div class="col-md-12">
                      <!-- <h3 class="custom-subtitle-2 p-0">Keep in mind that your test must be scheduled before the recording date.</h3> -->
                      <h2 class="d-none">Recording date: <span id="recording_date_placeholder"></span></h2>

                      <div id="recording_date_container">

                      </div>

                      <%= booking.hidden_field :recording_date, id: "recording_date" %>

                      <script>
                        setUpDatesDivs("recording_date", "SOIDIV_GetAGripOnLighting", "recording_date_placeholder" );
                      </script>

                    </div><!-- col -->
                  </div>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next' %>
                </div>
                <!-- list-recording -->

                <!-- list-personal -->
                <div class="tab-pane fade" id="list-personal" role="tabpanel" aria-labelledby="list-settings-list" data-permit="true">
                  <%= render 'bookings/partials/personal_content', booking: booking  %>
                  <%= button_tag 'next', type: 'button', class: 'btn btn-primary bookings-next' %>
                </div>
                <!-- list-personal -->

                <!-- list-company -->
                <div class="tab-pane fade" id="list-company" role="tabpanel" aria-labelledby="list-settings-list">
                  <%#= link_to "next", "#", class: "btn btn-primary bookings-next" %>
                  <%= render 'bookings/partials/company_content', booking: booking  %>
                  <%= button_tag 'Create booking', type: 'submit', class: 'btn btn-primary' %>
                </div>
                <!-- list-company -->
              </div>
              <% end %><!-- end of form -->
            </div>
            <script type="text/javascript">
              var element1 = $('#list-audio-hardware').clone(true);
              var element2 = $('#list-video-hardware').clone(true);
              var element3 = $('#list-computer').clone(true);
              var element4 = $('#list-browser').clone(true);
              var element5 = $('#list-internet').clone(true);
              var element6 = $('#list-test').clone(true);
              var element7 = $('#list-recording').clone(true);

            </script>
          </div> <!-- col-->
        </div>

      </div><!--col--->
    </div><!--row-->
  </div><!--container-->
</section>
