<section>
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-4 mb-5">

          <div class="card">
            <div class="card-header">
              Booking info
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p class="bookings-main"><span class="badge badge-primary <%= @booking.show_name %>"><%= @booking.show_name %> Show</span></p>
                  <p class="booking-sub <%= @booking.booking_type %>"><%= @booking.booking_type %></p>
                </li>
                <% if @booking.type_virtual? %>
                <li class="list-group-item p-0">
                  <div class="" id="booking_info_accordion">
                    <div class="card-header" id="heading-requirements">
                      <h2 class="mb-0">
                        <button class="btn btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapse-requirements" aria-expanded="true" aria-controls="collapse-requirements">
                          Hardware requirements
                        </button>
                      </h2>
                    </div>
                    <div id="collapse-requirements" class="collapse" aria-labelledby="heading-requirements" data-parent="#booking_info_accordion">
                      <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <p class="text-muted booking-sub">Audio:</p>
                            <p class="mb-0"><%= @booking.hardware_requirements['audio'] %></p>
                          </li>
                          <li class="list-group-item">
                            <p class="text-muted booking-sub">Video:</p>
                            <p class="mb-0"><%= @booking.hardware_requirements['video'] %></p>
                          </li>
                          <li class="list-group-item">
                            <p class="text-muted booking-sub">Computer:</p>
                            <p class="mb-0"><%= @booking.hardware_requirements['computer_type'] %></p>
                          </li>
                          <li class="list-group-item">
                            <p class="text-muted booking-sub">Browser:</p>
                            <p class="mb-0"><%= @booking.hardware_requirements['browser_type'] %></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div><!--accordion-->
                </li>
                <li class="list-group-item">
                  <p class="text-muted booking-sub">Test date</p>
                  <p class="bookings-main"><%= @booking.test_date.strftime('%B %d, %Y') %></p>
                  <p class="text-muted booking-sub"><%= @booking.test_date.strftime('%I:%M %p') %></p>
                </li>
                <% end %>
                <li class="list-group-item">
                  <p class="text-muted booking-sub">Recording date</p>
                  <p class="bookings-main"><%= @booking.recording_date.strftime('%B %d, %Y') %></p>
                  <p class="text-muted booking-sub"><%= @booking.recording_date.strftime('%I:%M %p') %></p>
                </li>
                <% if is_admin? %>
                <li class="list-group-item">
                  <p class="bookings-main"><%= link_to 'User profile', @user, class: 'btn btn-primary btn-sm' %></p>
                </li>
                <% end %>
              </ul>
            </div>
          </div><!-- card-->

      </div>

      <div class="col-lg-8">
        <% if @booking.is_past_booking? %>
        <!-- digital files -->
        <div class="card mb-5">
          <div class="card-header">
              Multimedia Files
              <% if is_admin? %>
              <!-- Button trigger modal -->
              <%= link_to "+ Add","#", class: "btn btn-outline-dark btn-sm float-right", id: "addmedia-form-button", data: { toggle: "modal", target: "#add_media_file", booking_id: @booking.id } %>
              <!-- Modal -->
              <div class="modal fade" id="add_media_file" tabindex="-1" role="dialog" aria-labelledby="add_mediaLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">New digital file</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="mediafiles_add_form_container">
                      Media files form container
                    </div>
                    <!-- <div class="modal-footer">
                    </div> -->
                  </div>
                </div>
              </div>
              <!-- Modal -->
            <% end %>
          </div>
          <div class="card-body" id="media_files_info">
            <%= render :template => 'media_files/index.html.erb'  %>
          </div><!-- media_files_info-->
        </div><!-- card-->
        <!-- digital files -->

        <!-- upload files modal -->
        <div class="modal fade" id="approvalFilesModal" tabindex="-1" role="dialog" aria-labelledby="approvalFilesModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" id="uploads_container">
              admin aproval media with file upload
            </div><!--modal-content-->
          </div>
        </div>
        <!-- upload files modal -->

        <!-- readEditmodal for admin -->
        <div class="modal fade" id="readEditModal" tabindex="-1" role="dialog" aria-labelledby="readEditModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" id="">
              <div class="modal-header">
                <h5 class="modal-title" id="approvalFilesModalLabel">Edit note for producer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="jumbotron p-2">
                    <div class="container">
                      <p class="lead" id="edit-note-text">
                        add read media text here
                      </p>
                    </div>
                  </div>
                  <%= button_tag 'Cancel', type: 'button', class: 'btn btn-secondary', data: { dismiss: "modal" } %>
              </div><!-- modal-body-->

            </div><!--modal-content-->
          </div>
        </div>
        <!-- readEditmodal for admin -->

        <!-- readEditmodal for admin -->
        <div class="modal fade" id="userApprovalModal" tabindex="-1" role="dialog" aria-labelledby="userApprovalModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="">
              <div class="modal-header">
                <h5 class="modal-title" id="userApprovalModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Do you want to aprove this booking digital files?
              </div><!-- modal-body-->
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <%= button_tag 'Cancel', type: 'button', class: 'btn btn-secondary', data: { dismiss: "modal" } %>
                <!-- <button type="button" class="btn btn-primary">Yes</button> -->
                <%= button_to "Yes", media_file_path(id: 52), remote: true %>
              </div>

            </div><!--modal-content-->
          </div>
        </div>
        <!-- readEditmodal for admin -->
        <% end %>

        <!-- booking info -->
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="boooking-show-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal-branding" role="tab" aria-controls="personal-branding" aria-selected="true">Personal branding</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="company-tab" data-toggle="tab" href="#company-branding" role="tab" aria-controls="company-branding" aria-selected="false">Company branding</a>
              </li>
              <% if is_admin? %>
              <li class="nav-item">
                <a class="nav-link" id="legal-tab" data-toggle="tab" href="#legal_info" role="tab" aria-controls="legal_info" aria-selected="false">legal info</a>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="card-body tab-content" id="boooking-show-content">
            <!--personal-branding-->
            <div class="tab-pane fade show active" id="personal-branding" role="tabpanel" aria-labelledby="personal-tab">
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <p class="text-muted booking-sub">Name for show </p>
                      <p class="bookings-main"><%= @booking.name_for_show %></p>
                    </li>
                    <li class="list-group-item">
                      <p class="text-muted booking-sub">Title for show </p>
                      <p class="bookings-main"><%= @booking.title_for_show %></p>
                    </li>
                    <li class="list-group-item">
                      <% unless @user.bio.empty? %>
                      <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#bioCollapse" role="button" aria-expanded="false" aria-controls="bioCollapse">
                        Bio
                      </a>
                      <div class="collapse" id="bioCollapse">
                        <%= content_tag :p, "#{@user.bio}", class: 'text-muted mt-2' %>
                      </div>
                      <% end %>
                    </li>
                    <li class="list-group-item">
                      <%# <p class="text-muted booking-sub">Title for show</p> %>
                      <p class="mb-2 bookings-main">Personal social Media</p>

                      <% if @booking.clean_social_media %>
                        <% @booking.clean_social_media.each do |sm_name, sm_url| %>
                        <p class="mb-2">
                          <a href="https://<%= sm_url %>" target="_blank"><%= sm_url %></a>
                        </p>
                        <% end %>
                      <% else %>
                        <%= tag.p "No personal social media added for this recording", class: 'text-muted booking-sub' %>
                      <% end %>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <% if @booking.image_consent %>
                  <%= image_tag @booking.user_avatar, class: "img-thumbnail"%>
                  <p class="text-muted mt-3">
                    I, <%= @booking.full_name %>, have given consent to the distribution of this image of myself for this recording.
                  </p>
                  <% else %>
                    <div class="alert alert-dark" role="alert">
                      No consent to display profile image.
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <!--personal-branding-->

            <!--company-branding-->
            <div class="tab-pane fade" id="company-branding" role="tabpanel" aria-labelledby="company-tab">
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <p class="text-muted booking-sub">Company name</p>
                      <p class="bookings-main"><%= @booking.company_name %></p>
                    </li>
                    <li class="list-group-item">
                      <%# <p class="text-muted booking-sub">Title for show</p> %>
                      <p class="mb-2 bookings-main">Company social Media</p>

                      <% if @booking.clean_company_social_media %>
                        <% @booking.clean_company_social_media.each do |sm_name, sm_url| %>
                        <p class="mb-2">
                          <a href="https://<%= sm_url %>" target="_blank"><%= sm_url %></a>
                        </p>
                        <% end %>
                      <% else %>
                        <%= tag.p "No company social media added for this recording", class: 'text-muted booking-sub' %>
                      <% end %>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <% if @booking.logo_consent %>
                  <%= image_tag @booking.user_companylogo, class: "img-thumbnail"%>
                  <p class="text-muted mt-3">
                    I, <%= @booking.full_name %>, have given consent to the distribution of this image for this recording.
                  </p>
                  <% else %>
                    <div class="alert alert-dark" role="alert">
                      No consent to display company logo.
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <!--company-branding-->

            <% if is_admin? %>
            <!--legal_info-->
            <div class="tab-pane fade" id="legal_info" role="tabpanel" aria-labelledby="legal-tab">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <h3 class="custom-subtitle-1 p-0">User</h3>  
                    </li>

                    <li class="list-group-item">
                      <p class="text-muted booking-sub">Legal name</p>
                      <p class="bookings-main"><%= @booking.full_name %></p>
                    </li>
                    <li class="list-group-item">
                      <p class="text-muted booking-sub">DOB</p>
                      <p class="bookings-main"><%= @booking.dob %></p>
                    </li>
                    <li class="list-group-item">
                      <p class="text-muted booking-sub">Location</p>
                      <p class="bookings-main"><%= @booking.user_location %></p>
                    </li>
                    <li class="list-group-item">
                      <p class="text-muted booking-sub">E-mail</p>
                      <p class="bookings-main"><%= @booking.email %></p>
                    </li>
                    <li class="list-group-item">
                      <p class="text-muted booking-sub">Phone</p>
                      <p class="bookings-main"><%= @booking.phone %></p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <h3 class="custom-subtitle-1 p-0">Company</h3>  
                    </li>

                    <li class="list-group-item">
                      <p class="text-muted booking-sub">Company legal name</p>
                      <p class="bookings-main"><%= @booking.company_legal_name %></p>
                    </li>
                    <li class="list-group-item">
                      <p class="text-muted booking-sub">Phone</p>
                      <p class="bookings-main"><%= @booking.company_phone %></p>
                    </li>
                    <li class="list-group-item">
                      <p class="text-muted booking-sub">Full address</p>
                      <p class="bookings-main"><%= @booking.company_address %></p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#releaseCollapse" role="button" aria-expanded="false" aria-controls="releaseCollapse">
                          Release at booking time
                        </a>
                    </li>
                    <li class="list-group-item p-0">
                      <div class="collapse" id="releaseCollapse">
                        <div class="jumbotron p-3">
                          <%= @booking.release.html_safe %>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--legal_info-->
            <% end %>

          </div>
        </div><!-- card-->
        <!-- booking info -->
      </div>
    </div>
  </div>
</section>
