<section>
  <div class="container">
    <nav class="navbar navbar-expand navbar-light bg-light mb-4">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="button-like-divs">
              Total users <span id="totals" class="badge badge-light"><%= User.all.count %></span>
            </div>
          </li>
          <li class="nav-item ml-2">
            <div class="button-like-divs">
              Users loaded <span id="loaded" class="badge badge-light"><%= @users.count %></span>
            </div>
          </li>
        </ul>
        <%= form_tag(users_path, method: :get, id: "users_search", class: "form-inline my-2 my-lg-0") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", id: "user_search_form", class: "form-control mr-sm-2", autofocus: true %>
          <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-primary my-2' %>
          <% if params[:search]%>
          <%= link_to 'Clear', users_path, id: "clear_button", class: 'btn btn-outline-primary ml-2' %>
          <% end %>
        <% end %>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-12">
            <div id="users_lists_container" class="card-columns">
              <% unless @users.empty? %>
              <%= render 'users/partials/users_list', users: @users  %>
              <% else %>
                <p class="lead">
                  No results found
                </p>
              <% end %>
            </div><!-- card-columns-->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
