<section>
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2" type="submit">Search</button>
        </form> -->

        <%= form_tag(users_path, method: :get, id: "search-form", class: "form-inline my-2 my-lg-0") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>
          <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-primary my-2' %>
          <% if params[:search]%>
            <%= link_to 'Clear', users_path, class: 'btn btn-outline-primary ml-2' %>
          <% end %>
        <% end %>

      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-md-12">
        <p>Total users <%= User.all.count %> users</p>
        <p>Total users loaded <%= @users.count %> users</p>
        <p>Class <%= @users.class %></p>
        <div class="row">
          <div class="col-12">
            <div class="card-columns">
              <% @users.each do |user| %>
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title mb-0">
                    <%= user.full_name %>
                  </h5>
                  <p class="card-text">
                  <% if user.signed_release %>
                  <span class="badge badge-success">Signed release</span>
                  <% else %>
                  <span class="badge badge-danger">Pending release</span>
                  <% end %>
                  </p>
                  <h6 class="card-subtitle mb-3 text-muted"><%= user.email %></h6>
                  <h6 class="card-subtitle mb-3 text-muted"><%= user.phone %></h6>
                  <%= link_to "User profile", user_path(user), class: 'stretched-link' %>
                </div>
              </div>
              <% end %>
            </div><!-- card-columns-->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
