<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            User details
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
                <% if is_admin? %>
                <li class="list-group-item">
                  <p class="bookings-main">
                  <%= link_to 'Send password', pass_reset_path(@user), remote: true, class: 'btn btn-primary btn-sm' %>
                  </p>
                </li>
                <% end %>
            </ul>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class: "img-thumbnail smaller-avatars" %>
            <% end %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="bookings-main">Legal name: <%= @user.full_name %></p>
              </li>
              <li class="list-group-item">
                <p class="text-muted booking-sub">DOB: <%= @user.dob.strftime('%B %d, %Y') %></p>
              </li>
              <li class="list-group-item">
                <p class="text-muted booking-sub">Location: <%= @user.user_location %></p>
              </li>
              <li class="list-group-item">
                <p class="text-muted booking-sub">email: <%= @user.email %></p>
              </li>
              <li class="list-group-item">
                <p class="text-muted booking-sub">phone: <%= @user.phone %></p>
              </li>
              <% if @user.name_for_show %>
              <li class="list-group-item">
                <%= tag.p "Show name: #{@user.name_for_show}", class: 'text-muted booking-sub' %>
              </li>
              <% end %>
              <% if @user.title_for_show %>
              <li class="list-group-item">
                <%= content_tag :p, "Show title: #{@user.title_for_show}", class: 'text-muted booking-sub' %>
              </li>
              <% end %>

              <li class="list-group-item">
                <% if @user.bio.present? %>
                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#bioCollapse" role="button" aria-expanded="false" aria-controls="bioCollapse">
                  Bio &nbsp;<i class="fas fa-angle-down"></i>
                </a>
                <div class="collapse" id="bioCollapse">
                  <%= content_tag :p, "#{@user.bio}", class: 'text-muted mt-2' %>
                </div>
                <% else %>
                  <%= tag.div "No bio added.", class: 'alert alert-dark', role: "alert" %>
                <% end %>
              </li>
            </ul>
            <ul class="list-group list-group-flush">
              <% if @user.get_social_media("social_media") %>
              <li class="list-group-item">
                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#userSocialCollapse" role="button" aria-expanded="false" aria-controls="userSocialCollapse">
                  Social media &nbsp;<i class="fas fa-angle-down"></i>
                </a>
                <div class="collapse mt-3" id="userSocialCollapse">
                    <% @user.get_social_media("social_media").each do |sm_name, sm_url| %>
                    <p>
                      <a href="https://<%= sm_url %>" target="_blank"><%= sm_url %></a>
                    </p>
                    <% end %>
                </div>
              </li>
              <% else %>
                <li class="list-group-item">
                  <%= tag.p "User has no social media", class: 'text-muted booking-sub' %>
                </li>
              <% end %>
            </ul>

            <ul class="list-group list-group-flush">
              <% if @user.companylogo.attached? %>
                <li class="list-group-item">
                  <%= image_tag @user.companylogo, class: "img-thumbnail smaller-avatars" %>
                </li>
              <% end %>
              <li class="list-group-item">
                <p class="bookings-main">Company name: <%= @user.company_name %></p>
              </li>
               <li class="list-group-item">
                <p class="text-muted booking-sub">Company legal name: <%= @user.company_legal_name %></p>
              </li>
               <li class="list-group-item">
                <p class="text-muted booking-sub">Company phone: <%= @user.company_phone %></p>
              </li>
              <li class="list-group-item">
                <p class="text-muted booking-sub">Company address:<br><%= @user.company_full_address %></p>
              </li>
            </ul>

             <ul class="list-group list-group-flush">
              <% if @user.get_social_media("company_social_media") %>
              <li class="list-group-item">
                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#companySocialCollapse" role="button" aria-expanded="false" aria-controls="companySocialCollapse">
                  Company social media &nbsp;<i class="fas fa-angle-down"></i>
                </a>
                <div class="collapse mt-3" id="companySocialCollapse">
                    <% @user.get_social_media("company_social_media").each do |sm_name, sm_url| %>
                    <p>
                      <a href="https://<%= sm_url %>" target="_blank"><%= sm_url %></a>
                    </p>
                    <% end %>
                </div>
              </li>
              <% else %>
                <li class="list-group-item">
                  <%= tag.p "Company has no social media", class: 'text-muted booking-sub' %>
                </li>
              <% end %>
            </ul>

          </div>
        </div><!-- card-->
      </div>
      <div class="col-md-7">
        <div id="past-bookings-container" class="card mb-5">
          <div class="card-header">
            Past bookings
          </div>
          <div class="card-body">
            <% @past_bookings.each do |booking| %>
            <%= link_to booking_path(booking), class: "card mb-3 link_to_booking #{booking.show_name}-link" do %>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <p class="bookings-main"><%= booking.recording_date.strftime('%B %d, %Y') %></p>
                  <p class="text-muted booking-sub"><%= booking.recording_date.strftime('%I:%M %p') %></p>
                </div>
                <div class="col-md-5">
                  <p class="bookings-main"><span class="badge badge-primary <%= booking.show_name %>"><%= booking.show_name %> Show</span></p>
                  <p class="booking-type <%= booking.booking_type %>"><%= booking.booking_type %></p>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div><!-- card-->
        <div class="card">
          <div class="card-header">
            Upcomming bookings
          </div>
          <div class="card-body">
            <% @upcomming_bookings.each do |booking| %>
              <%= link_to booking_path(booking), class: "card mb-3 link_to_booking #{booking.show_name}-link" do %>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <p class="bookings-main"><%= booking.recording_date.strftime('%B %d, %Y') %></p>
                      <p class="text-muted booking-sub"><%= booking.recording_date.strftime('%I:%M %p') %></p>
                    </div>
                    <div class="col-md-5">
                      <p class="bookings-main"><span class="badge badge-primary <%= booking.show_name %>"><%= booking.show_name %> Show</span></p>
                      <p class="booking-sub <%= booking.booking_type %>"><%= booking.booking_type %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div><!-- card-->
      </div>
    </div>
  </div>
</section>
