<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">

        <%#= render 'welcome_form/partials/welcome_submenu' %>
        <h2 class="custom-subtitle-1">Step 7 of 8: Company social media</h2>
        <p class="subtle_subtitle">Company logo and social media you want to promote on the show.</p>

        <div class="progress mb-3">
          <div class="progress-bar" role="progressbar" style="width: 84%;" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100"> Initial intake 84%</div>
        </div>
        <div class="tab-content" id="welcome-inputs-wrapper">
          <%= render 'dashboard/show_errors' %>
          <div class="tab-pane fade show active" id="company-info">
            <%= form_with model: current_user, url: welcome_update_path, html: { class: "customer-form", id: "user-profile-form", novalidate: true, data: { next: welcome_release_path } } do |f| %>
              <%= render 'welcome_form/partials/company_social_form', f: f %>
              <%= link_to "Back", welcome_company_image_path, class: "btn btn-primary"  %>
              <%= f.submit "Next", class: "btn btn-primary float-right", role: "button", data: { "disable-with": "Updating..." } %>
            <% end %>
          </div><!--profile-tab-->
        </div>
      </div>
    </div>
  </div>
</section>
