<%= form_with model: @media_file do |f| %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3 avatar-card" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Approval files</h5>
              <p id="image-help" class="card-text">
                upload one o more files
              </p>
              <!-- <p class="card-text"><small class="text-muted">(at least 700px wide by 700px hight)</small></p> -->
              <div class="custom-file">
                <%= f.file_field :uploads, multiple: true, class: "custom-file-input" %>
                <%= f.label :uploads, class: "custom-file-label" %>
              </div>
              <small id="uploads" class="alert-text m-1 text-danger">Image error</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if @media_file.uploads.attached? %>
      <div class="col-12">
        <div id="uploaded_files">
          <% @media_file.uploads.each do |upload| %>
          <div class="uploads text-center">
            <%= link_to image_tag(upload, class: "rounded"), upload, class: "", target: "_blank" %>
            <%= link_to "Delete", delete_upload_path(upload), class: "btn btn-primary btn-sm",  method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= button_tag 'Cancel', type: 'button', class: 'btn btn-secondary', data: { dismiss: "modal" } %>
<%= f.submit "Save", class: "btn btn-primary", data: { "disable-with": "Updating..." } %>
<% end %>
