<div class="row">
  <div class="col-md-12">
    <%= booking.fields_for :hardware_requirements do |h_requirements| %>

      <div class="gag-form-group">
        <% headphones = 'I have over ear headphone with on-board over mouth microphone connected to my computer via USB port.' %>
        <%= h_requirements.radio_button :audio, headphones, { id: "headphone-checkbox", class: 'gag-radio-input d-none' } %>
        <label class="gag-radio-label" for="headphone-checkbox">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-3">
                <%=  image_tag 'headphone.png', class: "card-img", alt: "headphones image" %>
              </div>
              <div class="col-9">
                <div class="card-body pb-0">
                  <h5 class="card-title">
                    <%= headphones %>
                  </h5>
                </div>
              </div>
            </div>
          </div><!-- end card -->
        </label>
      </div><!-- gag-form-group -->

      <div class="gag-form-group">
        <% earpods = 'I have earpods with a mic connected to my computer via audio jack' %>
        <%= h_requirements.radio_button :audio, earpods, { id: "earpods-checkbox", class: 'gag-radio-input d-none' } %>
        <label class="gag-radio-label" for="earpods-checkbox">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-3">
                <%=  image_tag 'earbudsReady.png', class: "card-img", alt: "earpods image" %>
              </div>
              <div class="col-9">
                <div class="card-body pb-0">
                  <h5 class="card-title">
                    <%= earpods %>
                  </h5>
                </div>
              </div>
            </div>
          </div><!-- end card -->
        </label>
      </div><!-- gag-form-group -->

      <div class="gag-form-group">
        <% audio_noallow = 'I don\' have either audio hardware' %>
        <%= h_requirements.radio_button :audio, audio_noallow, { id: "audio-none-checkbox", class: 'gag-radio-input d-none' } %>
        <label class="gag-radio-label" for="audio-none-checkbox">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-3">
                <%=  image_tag 'dontHave.png', class: "card-img", alt: "no hardware image" %>
              </div>
              <div class="col-9">
                <div class="card-body pb-0">
                  <h5 class="card-title">
                    <%= audio_noallow %>
                  </h5>
                </div>
              </div>
            </div>
          </div><!-- end card -->
        </label>
      </div><!-- gag-form-group -->

    <% end %>
  </div><!-- col -->
</div>
