<div class="row">
  <div class="col-md-12">
    <%= booking.fields_for :hardware_requirements do |h_requirements| %>

      <h3 class="custom-subtitle-2 p-0">Which browser you will use?</h3>
      <div class="gag-form-group mb-5">
        <div class="line-select-grid">
          <%= h_requirements.radio_button :browser_type, 'chrome', { id: "radio-chrome", class: 'gag-radio-input d-none' } %>
          <label class="gag-radio-label label-button" for="radio-chrome">Chrome</label>

          <%= h_requirements.radio_button :browser_type, 'firefox', { id: "radio-firefox", class: 'gag-radio-input d-none' } %>
          <label class="gag-radio-label label-button" for="radio-firefox">Firefox</label>

          <%= h_requirements.radio_button :browser_type, 'safari', { id: "radio-safari", class: 'gag-radio-input d-none' } %>
          <label class="gag-radio-label label-button" for="radio-safari">Safari</label>

          <%= h_requirements.radio_button :browser_type, 'Edge', { id: "radio-Edge", class: 'gag-radio-input d-none' } %>
          <label class="gag-radio-label label-button" for="radio-Edge">Microsoft Edge</label>
        </div><!-- grid -->
      </div><!-- gag-form-group -->

    <% end %>
  </div><!-- col -->
</div>
