<fieldset>
  <legend class="custom-subtitle-1" >Company information</legend>
  <%= fields_for :current_user do |company_info| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="form-group">
          <%= text_field nil, nil, class: "form-control", placeholder: "Company name", value: current_user.company_name, disabled: true %>
        </div>
        <% if current_user.companylogo.attached? %>
          <%= image_tag current_user.companylogo, class: "img-thumbnail" %>
        <% else %>
        <div class="alert alert-light" role="alert">
          No company logo added.
          <%#= link_to "Add it in dashboard", dashboard_url(page: 'company-info-tab') %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">

      <div class="card">
        <h4 class="card-header">Add company social media to show</h4>
          <div class="card-body">
            <% if current_user.get_social_media("company_social_media") %>
              <%= booking.fields_for :user_info do |user_info| %>
                <%= user_info.fields_for :company_social_media do |c_social_media| %>
                  <% current_user.get_social_media("company_social_media").each do |csm_name, csm_url| %>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <%= c_social_media.check_box "company_#{csm_name}", {checked: true, class: "custom-control-input", id: "company-#{csm_name}"}, "#{csm_url}" %>
                        <%= c_social_media.label :csm_url, "#{csm_name}: #{csm_url}", class: "custom-control-label", for: "company-#{csm_name}" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <div class="alert alert-light" role="alert">
                No company social media added.
                <%#= link_to "Add it in dashboard", dashboard_url(page: 'company-info-tab') %>
              </div>
            <% end %>
          </div>
      </div><!--card-->

    </div>
  </div>
  <% end %>
</fieldset>
