<fieldset>
  <legend class="custom-subtitle-1" >Hardware requirements</legend>
  <!-- <small class="form-text text-muted">You must pick a test day at leat 5mins before recording time.</small> -->
  <div class="row">
    <div class="col-md-6">

      <%= booking.fields_for :hardware_requirements do |h_requirements| %>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <%= h_requirements.check_box :headphone, {class: "custom-control-input", id: "headphone-checkbox"}, true, false %>
            <%= h_requirements.label :headphone, booking_text[:headphone], class: "custom-control-label", for: "headphone-checkbox" %>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <%= h_requirements.check_box :webcam, {class: "custom-control-input", id: "webcam-checkbox"}, true, false %>
            <%= h_requirements.label :webcam, booking_text[:webcam], class: "custom-control-label", for: "webcam-checkbox" %>
          </div>
        </div>
      <% end %>

    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <h5 class="card-header">Speed test</h5>
        <div class="row no-gutters">
          <div class="col-lg-4 pl-3 align-self-center">
            <%= image_tag 'main-logo.png', class: "card-img" %>
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <p id="image-help" class="card-text">
                With the computer and webbrowser you plan on broadcasting
                from; visit
                <a href="https://www.speedtest.net" target="_blank">
                  speedtest.net
                </a>
                and enter results bellow
              </p>
              <!-- <p class="card-text"><small class="text-muted">(at least 700px wide by 700px hight)</small></p> -->
              <%= booking.fields_for :hardware_requirements do |h_requirements| %>
                <div class="form-group">
                   <%#= h_requirements.label :ping %>
                   <%= h_requirements.text_field :ping, class: "form-control", placeholder: "Enter: Ping rate(m/s)" %>
                </div>
                <div class="form-group">
                   <%#= h_requirements.label :download %>
                   <%= h_requirements.text_field :download, class: "form-control", placeholder: "Enter: Download speed(mbps)" %>
                </div>
                <div class="form-group">
                   <%#= h_requirements.label :upload %>
                   <%= h_requirements.text_field :upload, class: "form-control", placeholder: "Enter: Upload speed(mbps)" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
