<fieldset>
  <legend class="custom-subtitle-1">Personal information for show</legend>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%#= label nil, "First name" %>
        <%= text_field nil, nil, class: "form-control", value: current_user.first_name, placeholder: "First name", disabled: true %>
      </div>

      <div class="form-group">
        <%= text_field nil, nil, class: "form-control", value: current_user.last_name, placeholder: "Last name", disabled: true  %>
      </div>

      <div class="form-group">
        <%= email_field nil, nil, class: "form-control", value: current_user.email, placeholder: "E-mail", disabled: true  %>
      </div>

      <div class="form-group">
        <%= telephone_field nil, nil, class: "form-control", value: current_user.phone, placeholder: "Phone", disabled: true  %>
      </div>
      <div class="form-group">
        <%= text_field nil, nil, class: "form-control", value: current_user.name_for_show, placeholder: "Name on show", disabled: true  %>
      </div>
      <div class="form-group">
        <%= text_field nil, nil, class: "form-control", value: current_user.title_for_show, placeholder: "Title for show", disabled: true  %>
      </div>
      <div class="form-group">
        <%= text_area nil, nil, id: "user_bio", class: "form-control", value: current_user.bio, placeholder: "Your bio", disabled: true  %>
      </div>
      <div class="form-group">
        <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: "img-thumbnail" %>
        <% else %>
          <div class="alert alert-light" role="alert">
            No profile image added.
            <%#= link_to "Add it in dashboard", dashboard_url(page: 'profile-tab') %>.
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h4 class="card-header">Add personal social media to show</h4>
        <div class="card-body">

          <% if current_user.get_social_media("social_media") %>
            <%= booking.fields_for :user_info do |user_i| %>
              <%= user_i.fields_for :social_media do |social_media| %>
                <% current_user.get_social_media("social_media").each do |personal_social_name, personal_social_url| %>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <%= social_media.check_box personal_social_name, {checked: true, class: "custom-control-input", id: "#{personal_social_name}"}, "#{personal_social_url}" %>
                      <%= social_media.label :personal_social_url, "#{personal_social_name}: #{personal_social_url}", class: "custom-control-label", for: "#{personal_social_name}" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
          <div class="alert alert-light" role="alert">
            No personal social media added.
            <%#= link_to "Add it in dashboard", dashboard_url(page: 'personal-social-media-tab') %>.
          </div>
          <% end %>
        </div><!--cardbody-->
      </div><!--card-->
    </div>
  </div>
</fieldset>
