<div class="row">
  <div class="col-md-12">
    <%= booking.fields_for :hardware_requirements do |h_requirements| %>

      <div class="gag-form-group">
        <% s_webcam = 'I have a webcam with the appropriate lighting and in a good recording environment.' %>
        <%= h_requirements.radio_button :video, s_webcam, { id: "s_webcam-checkbox", class: 'gag-radio-input d-none' } %>
        <label class="gag-radio-label" for="s_webcam-checkbox">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-3">
                <%=  image_tag 'webcam-ready.jpg', class: "card-img", alt: "headphones image" %>
              </div>
              <div class="col-9">
                <div class="card-body pb-0">
                  <h5 class="card-title">
                    <%= s_webcam %>
                  </h5>
                </div>
              </div>
            </div>
          </div><!-- end card -->
        </label>
      </div><!-- gag-form-group -->

      <div class="gag-form-group">
        <% e_cam = 'I have a webcam embedded on my computer' %>
        <%= h_requirements.radio_button :video, e_cam, { id: "e_webcam-checkbox", class: 'gag-radio-input d-none' } %>
        <label class="gag-radio-label" for="e_webcam-checkbox">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-3">
                <%=  image_tag 'e_webcam-ready.jpg', class: "card-img", alt: "earpods image" %>
              </div>
              <div class="col-9">
                <div class="card-body pb-0">
                  <h5 class="card-title">
                    <%= e_cam %>
                  </h5>
                </div>
              </div>
            </div>
          </div><!-- end card -->
        </label>
      </div><!-- gag-form-group -->

      <div class="gag-form-group">
        <% video_noallow = 'I don\' have either video hardware' %>
        <%= h_requirements.radio_button :video, video_noallow, { id: "video-none-checkbox", class: 'gag-radio-input d-none' } %>
        <label class="gag-radio-label" for="video-none-checkbox">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-3">
                <%=  image_tag 'notAllowed.jpg', class: "card-img", alt: "no hardware image" %>
              </div>
              <div class="col-9">
                <div class="card-body pb-0">
                  <h5 class="card-title">
                    <%= video_noallow %>
                  </h5>
                </div>
              </div>
            </div>
          </div><!-- end card -->
        </label>
      </div><!-- gag-form-group -->

    <% end %>
  </div><!-- col -->
</div>
